.autocomplete-ingredients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

div.MuiAutocomplete-root.MuiAutocomplete-hasClearIcon {
    display: inline-block;
    margin-right: 20px;
}

.autocomplete-ingredients .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator {
    color: white;
}

div.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd {
    width: 400px;
    border: 2px solid #b6e64f;
}

div.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd input {
    color: white
}

.autocomplete-ingredients .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined {
    color: white;
    background-color: #1c1c1c;
    padding: 0 5px;
}

#select-ingredient-button {
    margin: 0 20px;
    background-color: #8bcf32;
    color: black;
}

.modal-div {
    background-color: white;
    width: 40%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: auto;
    margin-left: auto;
}

.modal-div img {
    width: 400px;
    margin: auto;
}

.modal-div .ok-button {
    width: 150px;
    margin: 20px 0;
    background-color: #b6e64f;
}

.modal-div .ok-button:hover {
    width: 150px;
    margin: 20px 0;
    background-color: #8bcf32;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .modal-div {
        width: 50%;
    }

    .modal-div img {
        width: 350px;
    }
}

@media (max-width: 768px) {
    .autocomplete-ingredients {
        width: 100%;
        text-align: center;
    }

    #select-ingredient-button {
        margin-right: 0;
    }

    .modal-div {
        width: 90%;
    }
}

@media (max-width: 480px) {
    div.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd {
        width: 250px;
    }

    .modal-div img {
        width: 300px;
    }
}


