.autocomplete-ingredients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

div.MuiAutocomplete-root.MuiAutocomplete-hasClearIcon {
    display: inline-block;
}

div.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd {
    width: 400px;
    border: 2px solid #b6e64f;
}

div.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd input {
    color: white
}

.autocomplete-ingredients .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined {
    color: white;
    background-color: #1c1c1c;
    padding: 0 5px;
}

#select-ingredient-button {
    margin: 0 20px;
    background-color: #8bcf32;
    color: black;
}

.modal-div {
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 100px auto;
}

.modal-div img {
    width: 300px;
    margin: auto;
}

.modal-div .ok-button {
    width: 200px;
    margin: 20px 0;
    background-color: #b6e64f;
}

.modal-div .ok-button:hover {
    width: 200px;
    margin: 20px 0;
    background-color: #8bcf32;
}

@media (max-width: 480px) {
    .autocomplete-ingredients {
        width: 100%;
        text-align: center;
    }

    #select-ingredient-button {
        margin-right: 0;
    }

    div.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd {
        width: 250px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .autocomplete-ingredients {
        width: 100%;
        text-align: center;
    }

    #select-ingredient-button {
        margin-right: 0;
    }
}


