.carousel-div {
    z-index: -1;
}

.carousel-image {
    width: 100%;
    height: auto;
}

.img-div {
    cursor: pointer;
}

#mobile-image-grid {
    display: none;
}

@media (max-width: 768px) {
    .desktop-carousel {
        display: none;
    }

    #mobile-image-grid {
        display: flex;
        flex-direction: column;
    }

    .mobile-carousel-image {
        width: 100%;
        height: auto;
    }

    #mobile-image-grid a {
        margin-bottom: 0;
    }
}
