.carousel-div {

}

.carousel-image {
    width: 100%;
    height: auto;
}

#mobile-image-grid {
    display: none;
}

@media (max-width: 768px) {
    .desktop-carousel {
        display: none;
    }

    #mobile-image-grid {
        display: block;
    }

    .mobile-carousel-image {
        width: 100%;
        height: auto;
    }
}
