.evaluate-recipe-entire-div {
    z-index: -1;
}

.MuiListItem-gutters{
    border: ridge;
    /* border-top: ridge; */
    margin-bottom: 2px ;
    margin-left: 2px ;
    margin-right: 2px ;
    border-width: 1px ;
    border-color: black ;
    width: -webkit-fill-available !important;
}

div ul a.nav-links :hover{
    border-color : sienna;
    background: aliceblue;
}

.forbidden-access-div {
    text-align: center;
}

#evaluate-recipes-title {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0;
}
