.footer {
     background-color: black;
     text-align: center;
    font-family: "Source Serif Pro", serif;
     border-top: 3px solid black;
     color: #b6e64f;
 }

#pageFooter.loginMode {
    display: none;
}

.footer.loginMode {
    display: none;
}

#snl {
    padding-top: 10px;
    font-size: 1.5em;
}

#blue-mango {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: white;
}

#team8 {
    font-size: 1em;
    padding-bottom: 15px;
}
