.non-sticky-header {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#mascot {
    height: 150px;
}

#company-name {
    height: 150px;
    padding-left: 10px;
}

.header-left {
    cursor: pointer;
}

.header-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.search-bar {
    border: 2px solid #8bcf32;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 10px;
}

.search-bar input {
    border: none;
    font-size: 15px;
    padding-left: 10px;
}

input[type=search]:focus {
    width:200px;
    outline: none;
}

#login-button {
    background-color: #8bcf32;
}

.sticky-nav-bar {
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.5%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#home-icon {
    cursor: pointer;
}

.material-ui-tabs {
    display: flex;
    align-items: center;
}

.MuiTabs-root {
    color: white
}

.MuiTab-textColorInherit.Mui-selected {
    color: #b6e64f;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit {
    opacity: 1;
    min-width: auto;
    padding: 6px 28px;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 20px;
    cursor: pointer;
}

#hamburger-icon, #mobile-search-icon, #mobile-cart-icon {
    display: none;
}

@media (max-width: 480px) {
    #mascot {
        display: none;
    }

    .header-left {
        width: 100%;
        text-align: center;
    }

    #company-name {
        padding: 0;
    }

    .header-right {
        display: none;
    }

    .sticky-nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #home-icon {
        display: none;
    }

    .material-ui-tabs {
        display: none;
    }

    #hamburger-icon, #mobile-search-icon, #mobile-cart-icon {
        display: inline-block;
        cursor: pointer;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .header-left {
        width: 100%;
        text-align: center;
    }

    #company-name {
        padding: 0;
    }

    .header-right {
        display: none;
    }

    .sticky-nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #home-icon {
        display: none;
    }

    .material-ui-tabs {
        display: none;
    }

    #hamburger-icon, #mobile-search-icon, #mobile-cart-icon {
        display: inline-block;
        cursor: pointer;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .sticky-nav-bar {
        padding: 0 20px;
    }

    .user-icon {
        margin: 0;
    }
}

