.non-sticky-header {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#mascot {
    height: 150px;
}

#company-name {
    height: 150px;
    padding-left: 10px;
}

.header-left {
    cursor: pointer;
}

.header-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.search-bar {
    border: 2px solid #8bcf32;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 10px;
}

.search-bar input {
    border: none;
    font-size: 15px;
    padding-left: 10px;
}

input[type=search]:focus {
    width:200px;
    outline: none;
}

#login-button {
    background-color: #8bcf32;
}

.sticky-nav-bar {
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 65px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.sticky-right {
    display: flex;
    align-items: center;
}

.MuiTabs-root {
    color: white
}

.MuiTab-textColorInherit.Mui-selected {
    color: #b6e64f;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit {
    opacity: 1;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 20px;
}
