.ingredient-cart {
    margin-top: 60px;
    border-top: 2px solid darkgrey;
    border-left: 2px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    cursor: pointer;
    font-family: 'Gentium Basic', serif;
}

.cart-title {
    background-color: #b6e64f;
    font-size: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid darkgrey;
}

.cart-content {
}

.cart-item {
    /*background-color: lightgrey;*/
    color: black;
    text-align: center;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 1px solid lightgrey;
}

@media (max-width: 768px) {
    .cart-title {
        font-size: 15px;
    }
}
