.picker-div {
    background-color: #1c1c1c;
    color: white;
    margin: 20px 10px;
    padding-bottom: 20px;;
    font-family: "Source Serif Pro", serif;
}

.picker-title {
    font-size: 2em;
    padding: 20px 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

.image-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ingredient-info {
    margin: 20px 20px;
    font-size: 1.05em;
    position: relative;
}

.ingredient-images {
    width: 180px;
    border: 3px solid white;
    cursor: pointer;
}

.checked-icon {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.checked-icon.checked {
    display: inline;
}

