.main-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ingredient-selection-div {
    width: 100%;
    text-align: center;
}

.ingredient-selection-div.cart-open {
    width: 90%;
    text-align: center;
}

.ingredient-selection-div.cart-details-open {
    width: 80%;
    text-align: center;
}

.ingredient-display-div.cart-open {
    width: 10%;
}

.ingredient-display-div.cart-details-open {
    width: 20%;
}

#lookup-recipes-button {
    width: 100%;
    margin-top: 15px;
    background-color: forestgreen;
    color: white;
    font-size: 16px;
}

#mobileViewLookupButton {
    display: none;
}

@media (max-width: 768px) {
    #picker {
        width: 100%;
    }

    #mobileViewLookupButton {
        display: block;
        width: 70%;
        margin: auto;
    }

    #mobileViewLookupButton #lookup-recipes-button {
        padding: 10px 0;
    }
}
