.login-signup-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    position: relative;

    background-image: url("./images/login-background.jpg");
    background-size: cover;
    background-position: center bottom;
    background-position-y: 90%;
    height: 100vh;
}

.login-component {
    position: absolute;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    /*position: absolute;*/
    /*top: 8%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginPageMascotImage {
    height: 150px;
    margin: 10px auto;
}

#loginPageSnlText {
    width: 50%;
}

#loginDiv {
    position: absolute;
    top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signupDiv {
    position: absolute;
    top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    text-align: center;
    margin: 15px auto 20px auto;
}

.form-title h1 {
    color: #43b02a;
    margin: 0 0 0 8px;
}

.form-title p {
    color: black;
    margin: 0;
    font-size: 1.05em;
}

#emailField, #passwordField {
    width: 350px;
}

#errorMessage {
    color: rgb(220, 42, 39);
    font-size: 1em;
    margin: 0 auto;
}

#createAccountButton, #loginButton, #submitButton, #goToLoginButton {
    background-color: #8bcf32;
    margin-top: 20px;
}

#loginButton, #submitButton {
    font-size: 18px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-form-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
}

/*#lastNameField, #phoneField, #confirmedPasswordField {*/
/*    !*margin-left: 5%;*!*/
/*}*/

#backButton {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.login-signup-component .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
    /*margin-bottom: 15px;*/
    margin: 0 20px 15px 20px;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.Mui-required.Mui-required {
    margin: 0 20px;
}

#emailField.error, #passwordField.error, .MuiInputBase-input.MuiOutlinedInput-input.error {
    border: 2px solid red;
}

.login-form .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-filled.Mui-required.Mui-required,
.signup-form .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-filled.Mui-required.Mui-required
{
    background-color: white;
}


@media (max-width: 768px) {
    .login-form {
        width: 100%;
    }

    .MuiFormControl-root.MuiTextField-root {
        width: 85%;
    }

    .login-signup-component {
        background-image: url("./images/login-background-vertical.jpg");
        background-position: center;
        background-attachment: fixed;
    }

    #createAccountButton, #goToLoginButton {
        margin-bottom: 30px;
    }
}
