.one-recipe {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Serif Pro', serif;
    padding-bottom: 30px;
}

.recipe-image {
    margin: 20px 0;
}

.recipe-intro {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.15em;
    background-color: #dfe5d0;
    font-weight: bold;
}

.recipe-title {
    text-align: center;
    font-size: 2em;
    margin: 0 40px 20px 40px;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Montserrat', sans-serif;
    text-shadow: white 2px 2px;
}

.recipe-user {
    text-align: center;
}

.intro-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.recipe-prep-time, .recipe-rating, .recipe-servings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prep-time-clock, #recipeStars {
    margin: 0 5px;
}

.recipe-servings img {
    height: 30px;
    margin: 0 8px;
}

.keyword {
    background-color: #ffb400;
    color: black;
    display: inline-flex;
    padding: 4px 15px;
    margin: 0 5px;
    flex-direction: row;
    align-items: center;
}

.recipe-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.recipe-detail-title {
    font-size: 30px;
    color: #8bcf32;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Montserrat', sans-serif;
}

.recipe-ingredients {
    width: 30%;
    line-height: 2.3;
    display: flex;
    flex-direction: column;
}

.ingredient {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ingredient-bullet-point {
    width: 15px;
    margin-right: 15px;
    margin-top: 11px;
}

.ingredient-name {
    font-weight: bold;
}

.ingredient-measurement {
    padding-left: 8px;
}

.recipe-instructions {
    width: 62%;
    line-height: 2;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
}

.instruction {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 20px;
}

.instruction-number {
    color: #8bcf32;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    padding-right: 30px;
}

.instruction-text {
    margin-top: 10px;
}

.recipe-evaluation-options {
    width: 60%;
    margin: 10px 0;
    padding: 15px 0;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#evaluationDivTitle {
    font-size: 32px;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

#evaluatorRemark {
    width: 60%;
}

#acceptDenyButtons {
    width: 35%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#acceptButton {
    background-color: limegreen;
    color: white;
    font-size: 1em;
    width: 45%;
}

#denyButton {
    background-color: #dc2a27;
    color: white;
    font-size: 1em;
    width: 45%;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .recipe-detail-title {
        font-size: 26px;
        align-self: flex-end;
    }

    .recipe-evaluation-options {
        width: 80%;
        padding: 10px 20px;
    }

    #evaluatorRemark, #acceptDenyButtons {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .recipe-image {
        width: 100%;
    }

    .recipe-intro {
        width: 90%;
        padding: 20px 5%;
    }

    .intro-flexbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 12px 0;
    }

    .recipe-prep-time, .recipe-keywords {
        padding-bottom: 12px;
    }

    .recipe-ingredients, .recipe-instructions {
        width: 100%;
    }

    .recipe-detail-title {
        align-self: center;
    }

    .recipe-instructions {
        margin-top: 30px;
    }

    .ingredient {
        align-self: center;
    }

    .ingredient img {
        display: none;
    }

    .recipe-evaluation-options {
        width: 100%;
        padding: 10px 20px;
    }

    #evaluatorRemark, #acceptDenyButtons {
        width: 90%;
    }
}
