.grid-container{
    flex-direction: row;
    justify-content: space-around;
    background-color: #dfe5d0;
}

.card-img{
    width: 100%;

}

.content{
    height: 100px;
    overflow: hidden;
}
.content-text{
    height: 65%;
    overflow: hidden;
}

.content-head{
    
    height: 32%;
    overflow: hidden;
}

.openrecipe label{
    color: blue;
}