.submit-recipe-entire-div {
    z-index: -1;
}

.getRecipeDataTitle,.getRecipeDataDesc,.getRecipeDataIngredients,.getRecipeDataProcedure,.forServings,.forPrepTime {
    color: blue;
    padding-top: 1%;
    padding-bottom: 1%;
}

.recipeTitle,.recipeDesc,.recipeIngredients,.recipeProcedure{
    width: 75%;
    padding-right: 2.5%;
}

.close{
    padding: 0px !important;
    float: right;
}
.innerconfirm{
    width: -webkit-fill-available;
}
.submittedconfirmation{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: antiquewhite;
    text-align: center;
    justify-content: center;
}
.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
    width: 75%;
    border-color: rgba(0, 0, 0, 0.23) !important;
    border-style: solid;
    border-width: 1px;
}
.MuiPaper-elevation2{
    box-shadow: none !important;
}

.MuiOutlinedInput-input
{
    font-family: "Source Serif Pro", serif !important
}
.forImage{
    text-align: center;
    padding: 2% 0;
}
.MuiInputLabel-outlined {
    font-family: "Source Serif Pro", serif !important
}

.overallDiv .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined {
    color: black;
    background-color: white;
}

.getRecipeDataTime{
    color: blue;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Source Serif Pro", serif !important
}

.forPrepTime,.forServings{
    padding: 2%;
    display: inline-block;
}

.createRecipe{
    display: flex;
    margin: 30px auto;
}

#submit-recipe{
    text-align: center;
}

.getDishDetails{
    text-align: center;
    padding-top: 3%;
}

.forSubmit,.forCancel{
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
}

.generic{
  width: 30%;
  left: 0;
  text-align: -webkit-center;
  display: inline-block;
}
.overallDiv{
    width: -webkit-fill-available;
    display: flex;
    
    flex-wrap: wrap;
}
#specific{
  width: 70%;
  right: 0;
  display: inline-block;
  text-align: center;
}

.MuiTableCell-paddingCheckbox {
    padding: 0 0 0 20px !important;
}

.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
    display: inline-block;
}

.recipeProcedure{
    margin: auto;
}

#inp{
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.MuiTableCell-root, .submit-recipe-entire-div .MuiTypography-root, .MuiTablePagination-select{
    font-family: 'Source Serif Pro', serif !important
}

.MuiButton-label{
    color: primary;
}

#submit-recipe, #cancel-recipe{
    background-color: #8bcf32;
    color: black;
}

.forButtons{
    text-align: unset;
    margin: 2%;
}

#recipeImage {
    width: 100px;
}

@media (max-width: 750px) { 
	.generic{
        position: unset;
        width: 100%;
    }
    .recipeProcedure{
        padding: 5%;
    }
    #specific{
        position: unset;
        width: 100%;
    }
    .createRecipe{
        display: contents;
    }
    .MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
        width: inherit;
    }
    .MuiFormControl-root, .MuiTextField-root {
        width: inherit;
    }
    .recipeTitle,.recipeDesc,.recipeIngredients,.recipeProcedure{
        width: -webkit-fill-available;
    }
    .forButtons{
        text-align: center;
        padding-top: inherit;
    }
} 



