.card-img{
    width: 100%;
    max-height: 300px;

}

.content{
    height: 100px;
    overflow: hidden;
}
.content-text{
    height: 0px;
    overflow: hidden;
}

.content-headuc{
    height: 32%;
    overflow: hidden;
    text-overflow: wrap;
    white-space: nowrap;
    text-align: center;
    font-family: "Source Serif Pro", serif !important
}


.card-actions.MuiCardActions-root.MuiCardActions-spacing{
    padding: 0px;
    justify-content: space-around;
}

.social-media-icon {
    width: 23px;
    height: 23px;
    padding: 8px 15px 0 10px;
    cursor: pointer;
}



